/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 50px 150px;
    background-color: #f7f0f0;
    overflow: hidden;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 100vh; */
    /* border: 1px solid; */
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    overflow: auto;
    color: #333;
  }

.btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 20px;
    background-color: rgb(101, 169, 236);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: royalblue;
  }

.header {

}

.options {
    display: flex;
    width: 100%;
    margin-top: 15px;
    /* border: 1px solid #fff; */
    /* margin: 15px auto; */
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    font-size: 15px;
}



.main-left {
    background-color: rgb(150, 212, 223);
}
.main-right {
    background-color: rgb(104, 157, 167);
}

.main > div {
    min-width: 45%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.row {
    display: flex;
    margin-bottom: 10px;
    justify-content: inherit;
    height: 25px;
        
}

.row > span {
    text-align: left;
    padding-right: 5px;
}

.row > .row-id {
    min-width: 3%;
}
.row > .row-Created {
    min-width: 17%;
}
.row > .row-Title {
    min-width: 10%;
}
.row > .row-Description {
    min-width: 28%;
}
.row > .row-Point {
    min-width: 4%;
    margin-right: 8px;
}
.row > .row-Due {
    min-width: 15%;
}
.row > .row-done {
    min-width: 8%;
}
.row > .row-Options {
    min-width: 7%;
    float: right;
    text-align: right;
}
.row i {
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.row .fa-check {
    color: rgb(35, 150, 35)
}
.row .fa-trash-can {
    color: rgb(228, 67, 67)
}
.row i:hover {
    font-size: larger;
}

.main-left > div {
    background-color: rgb(177, 215, 223);
}

.main-right > div {
    background-color: rgb(196, 201, 202);
}


/* ============================= */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 35%; /* Could be more or less, depending on screen size */
}

.modal-content > input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    min-height: 60px;
    font-size: 24px;
}


#modal-description {
    width: 80%;
    font-size: 1rem;
}

/* Add task modal buton */
#modal-add-task {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
    text-align: center;
    align-self: center;
    margin: 15px auto;
}

/* The Close Button */
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

/* End modal */
/* ============================= */
/* The overlay effect with black background -SEARCH BAR */

.openBtn {
    background: #d6cccc;
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(73, 71, 71);
}

.openBtn:hover {
background: rgb(177, 215, 223);
color: #807b7b;
}

.overlay {
height: 100%;
width: 100%;
display: none;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
position: relative;
top: 46%;
width: 80%;
text-align: center;
margin-top: 30px;
margin: auto;
}

.overlay .closebtn {
position: absolute;
top: 20px;
right: 45px;
font-size: 60px;
cursor: pointer;
color: white;
}

.overlay .closebtn:hover {
color: #ccc;
}

.overlay input[type=text] {
padding: 15px;
font-size: 17px;
border: none;
float: left;
width: 80%;
background: white;
}

.overlay input[type=text]:hover {
background: #f1f1f1;
}

.overlay button {
float: left;
width: 20%;
padding: 15px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}


/* End overlay search */
/* ============================= */

@media screen and (max-width: 1200px) {
    body {
        margin: 30px 30px;
    }
    .row {
      height: auto;
    }
    .modal-content {
        width: 80%;
        align-self: center;
    }
}